.my-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.my-profile-header {
  font-size: 1.5rem;
}

.rockets-list,
.missions-list {
  border: 1px solid #a2a1a1;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
}

.rockets-list>li,
.missions-list>li {
  border-bottom: 1px solid #a2a1a1;
  padding: 1rem;
}