header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

header > ul {
  display: flex;
}

header > ul > li {
  list-style-type: none;
  margin-right: 10px;
  font-size: 1.1rem;
}

h1 {
  flex: 1;
  font-size: 1.3rem;
}

.active {
  padding: 3px;
  border-bottom: 3px solid black;
}
